* {
    font-family: "Montserrat";
    box-sizing: border-box;
    border: red soli;

}
header{
    background-color: rgb(43, 43, 43);
    width: 100%;
    height: fit-content;
    left:0;
    top: 0px;
    position: fixed;
    text-align: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
header .my-name{
    position: relative;
    color: white;
}
header figure{
    display: inline-block;
}
.pp{
        width: 100px;
        height:100px;
        border-radius: 50%;
        position: relative;
        top: 12px;
        display: inline;
}
main{
    position: relative;
    top: 200px;
}
.FSD{
    position: relative;
    font-weight: 500;
    color: white;
}
.name-fsd{
    display: inline-block;
    text-align: left;
}
.branch{
    display: inline-block;
    align-items: center;
    position: relative;
    padding: 7px;
    top: 10px;
    background-color:rgba(0, 0, 0, 0.41);
    border-radius: 15px;
    margin-bottom: 20px;
    
}
button.branch {
    Color: white;
    text-decoration:none;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}
button.branch:hover{
    text-decoration: none;
    box-shadow: 0px -2px rgb(211, 210, 210);

}
button.branch:active{
    color:#ffffff80
    
}
main{
    position: relative;
    margin-top: 10px;
    width: 1000px;
}
 
  button {
      box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
      transition: 500ms;
  }
  
  button:after {
      position: absolute;
      transform: translateX(-55px) translateY(-40px);
      box-shadow: 0px 0px 50px transparent;
      transition: 500ms;
  }
  
  button:hover {
      transform: translateY(-5px);
  }
  
  @keyframes spin{
      25%{transform: translateX(-25px) translateY(-35px);
              width: 15px;
              height: 15px;}
      50% {transform: translateX(-55px) translateY(-30px);
              width: 5px;
              height: 5px;}
      75% {transform: translateX(-85px) translateY(-35px);
              width: 15px;
              height: 15px;}
  } 